<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <title>Mercado Liebre</title>
</head>
<body>
    <header class="contenedor"> 
         
   <div class="conteiner"> 
<img class="logoml" src="images/logo-mercado-liebre.svg" alt="logo">
<form class="searchbar" action="">
    <input type="search" required>
    <i class="fa fa-search"></i>
    <a href="javascript:void(0)" id="clear-btn">Clear</a>
  </form>
</div> 


<h4 class="centrado"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito </h4>
<ul class="flexearlo">
    <li class="no-aparecer"> <a href="#">Ofertas</a> </li>
    <li class="no-aparecer"> <a href="#">Tiendas Oficiales</a> </li>
    <li class="no-aparecer"> <a href="#">Vender </a> </li>
    <li class="no-aparecer"> <a href="#">Ayuda </a> </li>

    <li class="no-aparecer"> <a href="/register">Crea tu cuenta</a>  <i class="fa-regular fa-address-card"></i></li>
    <li class="no-aparecer"> <a href="/login">Ingresa</a>  <i class="fa-solid fa-right-to-bracket"></i></li>
    <li class="no-aparecer"> <a href="#">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i></li> 
</ul>

<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
    
    </header>
    <img  width="100%" height="70%" src="images/img-home-banner.jpg" alt="banner">
    <main>
        <div class="contenedor-main">
            <p class="titulares"><strong>Basado en tu última visita</strong></p>
        <div class="sub-main">
            <img class=productos src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$230000<i class="descuentos">20% off</i></p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </div>
        </div>
        <br>
        <div class="sub-main">
            <img class=productos src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$70500<i class="descuentos">10% off</i></p>
            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </div>
        </div>
        <div class="sub-main">
            <img class=productos src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$6770<i class="descuentos">40% off</i></p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </div>
        </div>
            <br>
        <div class="sub-main">
            <img class=productos src="/images/img-tv-samsung-smart.jpg" alt="samsung smart tv">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$23200<i class="descuentos">5% off</i></p>
            <p class="descripciones"><strong>Samsung Smart Tv</strong></p>
            </div>
        </div>
            <p class="titulares"><strong>Ofertas</strong></p>
        <div class="sub-main">
            <img class=productos src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$6770<i class="descuentos">40% off</i></p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </div>
        </div>
            <br>
        <div class="sub-main">
            <img class=productos src="/images/img-tv-samsung-smart.jpg" alt="samsung smart tv">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$23200<i class="descuentos">5% off</i></p>
            <p class="descripciones"><strong>Samsung Smart Tv</strong></p>
            </div>
        </div>
        <div class="sub-main">
            <img class=productos src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$230000<i class="descuentos">20% off</i></p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </div>
        </div>
        <br>
        <div class="sub-main">
            <img class=productos src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            <div class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$70500<i class="descuentos">10% off</i></p>
            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </div>
        </div>    
        </main>
    
    
    <footer>
        <div class="todoFooter">
        <div class="partesFooter">
            <p class="fas fa-credit-card"></p>
            <h4 class="paddingFooter">Pagá con tarjeta o efectivo</h4> 
            <p class="textoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>   
        <div class="partesFooter">
            <p class="fas fa-gift"></p>
            <h4 class="paddingFooter">Envío gratis desde $ 2.500</h4> 
            <p class="textoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>  
        <div class="partesFooter">  
            <p class="fas fa-user-shield"></p>
            <h4 class="paddingFooter">Seguridad, de principio a fin</h4>
            <p class="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div> 
        </div>
        <div class="copyright"> 
            <p class="cuerpos-de-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        </footer>
    
</body>

<script src="https://kit.fontawesome.com/61ea81b208.js" crossorigin="anonymous"></script>

</html>